<%- include('../partials/header') %>
<div class="tile is-parent is-8">
    <article class="tile is-child box">
        <h1>edit an entry</h1>
        <form action="/books" method="POST">
            <label class="label">Edit Title</label>
            <input class="input is-small" type="text" name="title" value="<%= book.title %>">
            <label class="label">Author</label>
            <input class="input is-small" type="text" name="author" value="<%= book.author %>">
            <label class="label">Total Pages</label>
            <input class="input is-small" type="number" name="pages" value="<%= book.pages %>">
            <br />
            <label class="label">Date Started</label>
            <input class="input is-small" type="date" value="01-01-2020" name="startDate" value="<%= book.startDate %>">
            <br />
            <label class="label">Date Finished</label>
            <input class="input is-small" type="datetime-local" name="endDate" value="<%= book.endDate %>">
            <br />
            <h3>Reading Info</h3>
            <label class="label">Fiction or Nonfiction?</label>
            <select class="select is-fullwidth" name="ficType">
                <option <%= book.ficType === "Fiction" ? "selected":"" %>>Fiction</option>
                <option <%= book.ficType === "Non-fiction" ? "selected":"" %>>Non-Fiction</option>
            </select>
            <br />
            <label class="label">Format</label>
            <select class="select is-fullwidth" name="format">
                <option <%= book.format === "Prose" ? "selected":"" %>>Prose</option>
                <option <%= book.format === "Poetry" ? "selected":"" %>>Poetry</option>
                <option <%= book.format === "Novella" ? "selected":"" %>>Novella</option>
                <option <%= book.format === "GraphicNovel" ? "selected":"" %>>Graphic Novel/Comic</option>
                <option <%= book.format === "Essay" ? "selected":"" %>>Essay Collection</option>
                <option <%= book.format === "ShortStory" ? "selected":"" %>>Short Story Collection</option>
                <option <%= book.format === "Play" ? "selected":"" %>>Play</option>
            </select>
            <label class="label">Genre</label>
            <select class="select is-fullwidth" name="genre">
                <option <%= book.genre === "GeneralFiction" ? "selected":"" %>>General Fiction</option>
                <option <%= book.genre === "Classics" ? "selected":"" %>>Classics</option>
                <option <%= book.genre === "Horror" ? "selected":"" %>>Horror</option>
                <option <%= book.genre === "Mystery/Crime" ? "selected":"" %>>Mystery/Crime</option>
                <option <%= book.genre === "Historical" ? "selected":"" %>>Historical</option>
                <option <%= book.genre === "Romance" ? "selected":"" %>>Romance</option>
                <option <%= book.genre === "Fantasy" ? "selected":"" %>>Fantasy</option>
                <option <%= book.genre === "Sci-Fi" ? "selected":"" %>>Sci-Fi</option>
                <option <%= book.genre === "Business/SelfHelp" ? "selected":"" %>>Business/Self Help</option>
                <option <%= book.genre === "CurrentEvents/Politics" ? "selected":"" %>>Current Events/Politics</option>
                <option <%= book.genre === "Nature/Science" ? "selected":"" %>>Nature/Science</option>
                <option <%= book.genre === "Travel/Food" ? "selected":"" %>>Travel/Food/Comic</option>
                <option <%= book.genre === "Memoir/Biography" ? "selected":"" %>>Memoir/Biography</option>
            </select>
            <label class="label">Source</label>
            <select class="select is-fullwidth" name="source">
                <option <%= book.source === "OwnTBR" ? "selected":"" %>>Own To-Be-Read (TBR)</option>
                <option <%= book.source === "Purchased2020" ? "selected":"" %>>Purchased 2020</option>
                <option <%= book.source === "Library" ? "selected":"" %>>Library</option>
                <option <%= book.source === "ReviewCopy" ? "selected":"" %>>Review Copy</option>
                <option <%= book.source === "Gift" ? "selected":"" %>>Gift</option>
                <option <%= book.source === "Borrowed" ? "selected":"" %>>Borrowed</option>
            </select>
            <label class="checkbox">Re-read?</label>
            <input type="checkbox" name="reRead" value="<%= book.reRead %>"><label for="true">Yes</label>
            <br />
            <label class="label">Reason for Reading</label>
            <select class="select is-fullwidth" name="reason">
                <option <%= book.reason === "Fun" ? "selected":"" %>>Fun</option>
                <option <%= book.reason === "Work" ? "selected":"" %>>Work</option>
                <option <%= book.reason === "School" ? "selected":"" %>>School</option>
                <option <%= book.reason === "BookClub" ? "selected":"" %>>Book Club</option>
                <option <%= book.reason === "PersonalDevelopment" ? "selected":"" %>>Personal Development</option>
            </select>
            <label class="label">Medium</label>
            <select class="select is-fullwidth" name="medium">
                <option <%= book.medium === "Print" ? "selected":"" %>>Print</option>
                <option <%= book.medium === "Digital" ? "selected":"" %>>Digital</option>
                <option <%= book.medium === "Audiobook" ? "selected":"" %>>Audiobook</option>
            </select>
            <br />
            <h3>Diverse Books Info</h3>
            <label class="checkbox"><a href="https://www.corinneduyvis.net/ownvoices/"
                    target="_blank">#OwnVoices?</a></label>
            <input type="checkbox" name="ownVoices" value="<%= book.ownVoices %>"><label for="true">Yes</label>
            <br />
            <label class="label">BIPOC?</label>
            <select class="select is-fullwidth" name="bipoc">
                <option <%= book.bipoc === "Author" ? "selected":"" %>>Author</option>
                <option <%= book.bipoc === "Protagonist" ? "selected":"" %>>Protagonist</option>
                <option <%= book.bipoc === "AuthorProtagonist" ? "selected":"" %>>Author + Protagonist</option>
            </select>
            <label class="label">LGBTQIA+?</label>
            <select class="select is-fullwidth" name="queer">
                <option <%= book.queer === "Author" ? "selected":"" %>>Author</option>
                <option <%= book.queer === "Protagonist" ? "selected":"" %>>Protagonist</option>
                <option <%= book.queer === "AuthorProtagonist" ? "selected":"" %>>Author + Protagonist</option>
            </select>
            <label class="label">Gender?</label>
            <select class="select is-fullwidth" name="gender">
                <option <%= book.gender === "Female" ? "selected":"" %>>Female</option>
                <option <%= book.gender === "Male" ? "selected":"" %>>Male</option>
                <option <%= book.gender === "Non-binary" ? "selected":"" %>>Non-Binary</option>
                <option <%= book.gender === "Other" ? "selected":"" %>>Other</option>
            </select>

            <input class="button is-info" type="submit" value="Make Changes!">

</div>