<%- include('../partials/header') %>
<div class="tile is-parent is-8">
    <article class="tile is-child box">
        <h1>edit an entry</h1>
        <form action="/books/<%= book._id %>?_method=PUT" method="POST">
            <label class="label">Edit Title</label>
            <input class="input is-small" type="text" name="title" value="<%= book.title %>">
            <label class="label">Author</label>
            <input class="input is-small" type="text" name="author" value="<%= book.author %>">
            <label class="label">Total Pages</label>
            <input class="input is-small" type="number" name="pages" value="<%= book.pages %>">
            <br />
            <label class="label">Date Started</label>
            <div><%= moment(book.startDate).format("MMM Do, YYYY") %></div>
            <br />
            <label class="label">Date Finished</label>
            <input class="input is-small" type="datetime-local" name="endDate" value="<%= book.endDate %>">
            <br />
            <h3>Reading Info</h3>
            <label class="label">Fiction or Nonfiction?</label>
            <select class="select is-fullwidth" name="ficType">
                <option <%= book.ficType === "Fiction" ? "selected":"" %> value="Fiction">Fiction</option>
                <option <%= book.ficType === "Non-fiction" ? "selected":"" %> value="Non-fiction"> Non-Fiction </option>
            </select>
            <br />
            <label class="label">Format</label>
            <select class="select is-fullwidth" name="format">
                <option <%= book.format === "Prose" ? "selected":"" %> value="Prose">Prose</option>
                <option <%= book.format === "Poetry" ? "selected":"" %> value="Poetry">Poetry</option>
                <option <%= book.format === "Novella" ? "selected":"" %> value="Novella">Novella</option>
                <option <%= book.format === "Graphic Novel" ? "selected":"" %> value="Graphic Novel">Graphic Novel/Comic</option>
                <option <%= book.format === "Essay Collection" ? "selected":"" %> value="Essay Collection">Essay Collection</option>
                <option <%= book.format === "Short Story" ? "selected":"" %> value="Short Story">Short Story Collection</option>
                <option <%= book.format === "Play" ? "selected":"" %> value="Play">Play</option>
            </select>
            <label class="label">Genre</label>
            <select class="select is-fullwidth" name="genre">
                <option <%= book.genre === "GeneralFiction" ? "selected":"" %> value="General Fiction">General Fiction</option>
                <option <%= book.genre === "Classics" ? "selected":"" %> value="Classics">Classics</option>
                <option <%= book.genre === "Horror" ? "selected":"" %> value="Horror">Horror</option>
                <option <%= book.genre === "Mystery/Crime" ? "selected":"" %> value="Mystery/Crime">Mystery/Crime</option>
                <option <%= book.genre === "Historical" ? "selected":"" %> value="Historical">Historical</option>
                <option <%= book.genre === "Romance" ? "selected":"" %> value="Romance">Romance</option>
                <option <%= book.genre === "Fantasy" ? "selected":"" %> value="Fantasy">Fantasy</option>
                <option <%= book.genre === "Sci-Fi" ? "selected":"" %> value="Sci-Fi">Sci-Fi</option>
                <option <%= book.genre === "Business/SelfHelp" ? "selected":"" %> value="Business/SelfHelp">Business/Self Help</option>
                <option <%= book.genre === "CurrentEvents/Politics" ? "selected":"" %> value="CurrentEvents/Politics">Current Events/Politics</option>
                <option <%= book.genre === "Nature/Science" ? "selected":"" %> value="Nature/Science">Nature/Science</option>
                <option <%= book.genre === "Travel/Food" ? "selected":"" %> value="Travel/Food">Travel/Food/Comic</option>
                <option <%= book.genre === "Memoir/Biography" ? "selected":"" %> value="Memoir/Biography">Memoir/Biography</option>
            </select>
            <label class="label">Source</label>
            <select class="select is-fullwidth" name="source">
                <option <%= book.source === "Owned/To Be Read" ? "selected":"" %> value="Owned/To Be Read"> Own TBR</option>
                <option <%= book.source === "Purchased" ? "selected":"" %> value="Purchased">Purchased 2020</option>
                <option <%= book.source === "Library" ? "selected":"" %> value="Library">Library</option>
                <option <%= book.source === "Review Copy" ? "selected":"" %> value="Review Copy">Review Copy</option>
                <option <%= book.source === "Gift" ? "selected":"" %> value="Gift">Gift</option>
                <option <%= book.source === "Borrowed" ? "selected":"" %> value="Borrowed">Borrowed</option>
            </select>
            <label class="checkbox">Re-read?</label>
            <input type="checkbox" name="reRead" value="<%= book.reRead %>"><label for="true">Yes</label>
            <br />
            <label class="label">Reason for Reading</label>
            <select class="select is-fullwidth" name="reason">
                <option <%= book.reason === "Fun" ? "selected":"" %> value="Fun">Fun</option>
                <option <%= book.reason === "Work" ? "selected":"" %> value="Work">Work</option>
                <option <%= book.reason === "School" ? "selected":"" %> value="School"> School</option>
                <option <%= book.reason === "Book Club" ? "selected":"" %> value="Book Club">Book Club</option>
                <option <%= book.reason === "Personal Development" ? "selected":"" %> value="Personal Development" >Personal Development</option>
            </select>
            <label class="label">Medium</label>
            <select class="select is-fullwidth" name="medium">
                <option <%= book.medium === "Print" ? "selected":"" %> value="Print">Print</option>
                <option <%= book.medium === "Digital" ? "selected":"" %> value="Digital">Digital</option>
                <option <%= book.medium === "Audiobook" ? "selected":"" %> value="Audiobook">Audiobook</option>
            </select>
            <br />
            <h3>Diverse Books Info</h3>
            <label class="checkbox"><a href="https://www.corinneduyvis.net/ownvoices/"
                    target="_blank">#OwnVoices?</a></label>
            <input type="checkbox" name="ownVoices" value="<%= book.ownVoices %>"><label for="true">Yes</label>
            <br />
            <label class="label">BIPOC?</label>
            <select class="select is-fullwidth" name="bipoc">
                <option <%= book.bipoc === "Author" ? "selected":"" %> value="Author">Author</option>
                <option <%= book.bipoc === "Protagonist" ? "selected":"" %> value="Protagonist">Protagonist</option>
                <option <%= book.bipoc === "Author and Protagonist" ? "selected":"" %> value="Author and Protagonist">Author + Protagonist</option>
            </select>
            <label class="label">LGBTQIA+?</label>
            <select class="select is-fullwidth" name="queer">
                <option <%= book.queer === "Author" ? "selected":"" %> value="Author">Author</option>
                <option <%= book.queer === "Protagonist" ? "selected":"" %> value="Protagonist">Protagonist</option>
                <option <%= book.queer === "Author and Protagonist" ? "selected":"" %> value="Author and Protagonist">Author + Protagonist</option>
            </select>
            <label class="label">Gender?</label>
            <select class="select is-fullwidth" name="gender">
                <option <%= book.gender === "Female" ? "selected":"" %> value="Female">Female</option>
                <option <%= book.gender === "Male" ? "selected":"" %> value="Male">Male</option>
                <option <%= book.gender === "Non-binary" ? "selected":"" %> value="Non-binary">Non-Binary</option>
                <option <%= book.gender === "Other" ? "selected":"" %> value="Other">Other</option>
            </select>

            <input class="button is-info" type="submit" value="Make Changes!">

</div>