<%- include('../partials/header') %>
<div class="tile is-parent is-8">
    <article class="tile is-child box">
        <h1>your books</h1>
        <% books.forEach(function(b) { %>
        <h2><%= b.title %></h2>
        <h3>by <%= b.author %></h3>
        <div class="content" id="yourbooks">
            <label>Number of pages:</label>
            <div><%= b.pages %></div>
            <label>Date Started</label>
            <div><%= b.startDate %></div>
            <label>Date Finished</label>
            <div><%= b.endDate %></div>
            <label>Type</label>
            <div><%= b.ficType %></div>
            <label>Format</label>
            <div><%= b.format %></div>
            <label>Genre</label>
            <div><%= b.genre %></div>
            <label>Source</label>
            <div><%= b.source %></div>
            <label>Are you re-reading this book?</label>
            <div><%= b.reRead %></div>
            <label>Reason for reading</label>
            <div><%= b.reason %></div>
            <label>Medium</label>
            <div><%= b.medium %></div>
            <label>OwnVoices?</label>
            <div><%= b.ownVoices %></div>

            </div>
                        <% }); %>
        </div>
    </article>
</div>
</div>
</section>



<%- include('../partials/footer') %>