<%- include('../partials/header') %>
<div class="tile is-parent is-8">
    <article class="tile is-child box" id="maincontent">
        <h1>your books</h1>
        <% books.forEach(function(b) { %>
        <h2><%= b.title %></h2>
        <h3>by <%= b.author %></h3>
        <div class="content" id="yourbooks">
            <label>Number of pages:</label>
            <div><%= b.pages %></div>
            <label>Date Started</label>
            <div><%= b.startDate.toLocaleDateString() %></div>
            <label>Date Finished</label>
            <div><%= b.endDate.toLocaleDateString() %></div>
            <label>Type</label>
            <div><%= b.ficType %></div>
            <label>Format</label>
            <div><%= b.format %></div>
            <label>Genre</label>
            <div><%= b.genre %></div>
            <label>Source</label>
            <div><%= b.source %></div>
            <label>Are you re-reading this book?</label>
            <div><%= b.reRead ? 'Of course!' : 'Nope - First time'%></div>
            <label>Reason for reading</label>
            <div><%= b.reason %></div>
            <label>Medium</label>
            <div><%= b.medium %></div>
            <label>OwnVoices?</label>
            <div><%= b.ownVoices ? 'Yes' : 'No'%></div>
            <label>BIPOC?</label>
            <div><%= b.bipoc %></div>
            <label>LGBTQIA+?</label>
            <div><%= b.queer %></div>
            <label>Author Gender?</label>
            <div><%= b.gender %></div>

            <label>Add Review:</label>
            <div><a href="/books/<%= b._id %>/reviews/new">Add a Rating and/or Review</a></div>
            <label>Your Ratings and Reviews <br />
                for <%= b.title %></label>
            <div>

                <% reviews.filter(review => review.book.equals(b._id)).forEach(function(review) { %>
                <b><%= review.rating %> Stars</b> - <%= review.review %> <br />
                <%= review.date.toLocaleDateString() %><br />
                <br />
                <% });  %></div>

            <label>Edit entry?</label>
            <div>
                <a href="/books/<%= b.id %>/edit">Edit Your Entry</a></div>

            <label>Delete entry?</label>
            <div>
                <% if (user.equals(user._id)) { %>
                <form action="/books/<%= b ._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="button is-danger is-small is-rounded">Remove Forever</button>
                </form>
                <% }; %>
            </div>
        </div>
        <% }); %>
    </article>
</div>




<%- include('../partials/footer') %>