<%- include('../partials/header') %>
<div class="tile is-parent is-8">
    <article class="tile is-child box" id="maincontent">
        <h1>your books</h1>
        <% books.forEach(function(b) { %>
        <h2><%= b.title %></h2>
        <h3>by <%= b.author %></h3>
        <div class="content" id="yourbooks">
            <label>Number of pages:</label>
            <div><%= b.pages %></div>
            <label>Date Started</label>
            <div><%= b.startDate %></div>
            <label>Date Finished</label>
            <div><%= b.endDate %></div>
            <label>Type</label>
            <div><%= b.ficType %></div>
            <label>Format</label>
            <div><%= b.format %></div>
            <label>Genre</label>
            <div><%= b.genre %></div>
            <label>Source</label>
            <div><%= b.source %></div>
            <label>Are you re-reading this book?</label>
            <div><%= b.reRead %></div>
            <label>Reason for reading</label>
            <div><%= b.reason %></div>
            <label>Medium</label>
            <div><%= b.medium %></div>
            <label>OwnVoices?</label>
            <div><%= b.ownVoices %></div>
            <label>BIPOC?</label>
            <div><%= b.bipoc %></div>
            <label>LGBTQIA+?</label>
            <div><%= b.queer %></div>
            <label>Gender?</label>
            <div><%= b.gender %></div>
            <label>Edit entry?</label>
            <div>
                <button type="submit" class="button is-small is-rounded is-outlined" id="buttonlink"><a href="/books/<%= b.id %>/edit">Edit Your Entry</a></button></div>
            
            <label>Delete entry?</label>
            <div>
                <% if (user.equals(user._id)) { %>
                <form action="/books/<%= b ._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="button is-danger is-small is-rounded">Remove Forever</button>
                </form>
                <% }; %>
            <label for="rating">Add a Rating:</label>
            <form method="POST" action="/books/<%= book._id %>/destinations">

                </form>
            </div>
            </div>
                        <% }); %>
        </div>
    </article>
</div>
</div>
</section>



<%- include('../partials/footer') %>