<%- include('../partials/header') %>
<div class="tile is-parent is-6">
    <article class="tile is-child box" id="maincontent">
        <h1>book reviews</h1>
            <% books.reviews.forEach(function(b) { %>
            <h2><%= b.title %></h2>
            <h3>by <%= b.author %></h3>
            <div class="content" id="yourbooks">
                <label>Rating: </label>
                <div><%= b.rating %> </div>
</div>
<% }); %>
</div>
</article>




</div>
</article>




<%- include('../partials/footer') %>